
.logementTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 142.6%;
  font-weight: bolder;
  color: #ff6060;
  
}

.logementLocation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 142.6%;
  color: #ff6060;
}



@media screen and (max-width: 350px) {
  
  .logementTitle {
    font-size: 1.1rem;
  }

  .logementLocation {
    font-size: 0.8rem;
  }

}
