@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h3,
h2,
a {
  font-family: "Montserrat", sans-serif;
}

.loadingMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.mainLoadingMessage{
  font-size: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff6060;

}

/* Logement Page */

.lgmtInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.contactDetails {
  display: flex;
  flex-direction: column;
}

.lgmtAccordion {
  width: 47%;
}

@media screen and (max-width: 992px) {
  .lgmtAccordion {
    width: 100%;
    margin: 0.5rem;
  }

  .contactDetails {
    width: 100%;
    display: flex;
    flex-direction: row-reverse !important;
    align-items: baseline;
    justify-content: space-between !important;
    margin: 0.5rem;
    align-items: center;

  }
  .contact {
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .rating {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 350px) {
  .contactDetails {
    width: 100%;
    display: flex;
    flex-direction: row-reverse !important;
  }
}
